i {
    font-size: 3.3em;
}

h1 {
    font-weight: 300;
}

h4 {
    text-transform: capitalize;
    font-weight: 400;
}

h3 {
    color: #087990;
    cursor: pointer;
}

p{
    font-weight: 200;
}

h3:hover {
    color: #065a6b;
}

.btn-info {
    background-color: #087990;;
}

.btn-info:hover {
    background-color: #065a6b;
}

i {
    color: #087990;
}

i:hover{
    color: #065a6b;
}

body {
    background-color: #f7f7f9;
}